<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Federico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./index.css' ) }}">
</head>
<body>
    <section>
        <h1>neumonia model</h1>
        <div>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="uploadfile" name="uploadfile" accept=".jpg .png">
                <input type="submit" class="sub">
            </form>
        </div>
        <h1>Sign model</h1>
        <div>
            <form action="/Sign" method="POST" enctype="multipart/form-data">
                <input type="file" id="Sign" name="Sign" accept=".jpg .png">
                <input type="submit" class="sub">
            </form>
        </div>
    </section>
</body>
</html>